html, body {
  height: 100%;
  width: 100%;
  background-color:lightgoldenrodyellow;
}

#map { 
    height: 600px; 
    /* 99% para que no colisione con la barra de scroll*/
    width: 99%;
    position: relative;
}

#title {
  text-align:center; 
  font-size:50px; 
  text-transform:uppercase; 
  color:#222; 
  letter-spacing:1px;
  font-family:"Playfair Display", serif; 
  font-weight:400;
}

.visible {
  display: block
}

.hidden {
  display:none;
}