html, body {
  height: 100%;
  width: 100%;
  background-color: #75aa69;
}

#p, #label {
  color:#011d1c; 
}

#map { 
    height: 320px; 
    /* 99% para que no colisione con la barra de scroll*/
    width: 99%;
    position: relative;
}

#title {
  text-align:center; 
  font-size:50px; 
  text-transform:uppercase; 
  color:#011d1c; 
  letter-spacing:1px;
  text-decoration: underline;
  font-family:"Playfair Display", serif; 
  font-weight:400;
}

.barra_texto {
  size: 30;
}

.boton {
  appearance: none;
  background-color: #0c8861;
  border: 2px solid #c99941;
  border-radius: 15px;
  box-sizing: border-box;
  color: #011d1c;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
}

.boton:disabled {
  pointer-events: none;
}

.boton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.boton:active {
  box-shadow: none;
  transform: translateY(0);
}

.visible {
  display: block
}

.hidden {
  display:none;
}